<h1>注文履歴一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">注文日</th>
      <th scope="col">配送先</th>
      <th scope="col">注文商品</th>
      <th scope="col">支払い金額</th>
      <th scope="col">ステータス</th>
      <th scope="col">注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>