<h1>注文履歴一覧</h1>

<% @order.each do |order|%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">注文日</th>
      <th scope="col">配送先</th>
      <th scope="col">注文商品</th>
      <th scope="col">支払い金額</th>
      <th scope="col">ステータス</th>
      <th scope="col">注文詳細</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= order.created_at %></th>
      <td><%= order.address %></td>
      <td><%#order.%></td>
      <td><%= order.total_payment %></td>
      <td><%#order.%></td>
      <td><%= link_to "表示する", order_path(order.id) %></td>
    </tr>
  </tbody>
</table>
<% end %>