<h1>マイページ</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>氏名</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>カナ</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <td>住所</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td>メールアドレス</td>
    </tr>
  </tbody>
</table>
</table>