<h1>注文履歴一覧</h1>

<% @orders.each do |order| %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">購入日時</th>
      <th scope="col">購入者</th>
      <th scope="col">注文個数</th>
      <th scope="col">注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <%= link_to  %><%= order.created_at %></th>
      <td><%= order.name %></td>
      <td><%# order.customer.cart_items.amount %></td>
      <td><%= order.status %></td>
    </tr>
  </tbody>
</table>
<% end %>